@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F2F0EB;
  overscroll-behavior: none;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

#app {
  width: 100%;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}